<div class="page-header section-dark" style="background-image: url('assets/img/airport.jpg')">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="title-brand">
              <div class="angular-logo">
                  <img src="assets/img/angular2-logo.png" alt="">
              </div>
              <h1 class="presentation-title">GESTIONS DES LIEUX</h1>
              
          </div>

          <h2 class="presentation-subtitle text-center">Alors quelles sont vos envies ?</h2>
      </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  
</div>
<div>
  <h4>Veuillez ajouter un nouveau lieu</h4>
  <form (ngSubmit)="saveLocation()">
      <label>Le code Location</label>
      <input type="number" [(ngModel)]="locationService.codeLocation" name="codeLocation"/>
      <label>Nom du lieu</label>
      <input type="text" [(ngModel)]="locationService.locationName" name="locationName"/>
      <label>Le type</label>
      <input type="text" [(ngModel)]="locationService.type" name="type"/>
      <button (click)="saveLocation(o.codeLocation)">AJOUTER</button>
  </form>
</div>
<div class="content table-responsive table-full-width">
   <table class="table table-hover table-stiped">
     <thead>
       <tr>
           <th>Code de Location</th>
           <th>Nom du lieu</th>
           <th>Le type</th>
           <th>Action</th>
       </tr>
      </thead>
      <tbody>
           <tr *ngFor="let o of Location">
               <td>{{o.codeLocation}}</td>
               <td>{{o.locationName}}</td>
               <td>{{o.type}}</td>
               <td><buton class = "btn btn-xs btn-danger" (click)="deleteLocation(o.codeLocation)">SUPPRIMER</buton></td>
           </tr>
      </tbody>
       
   </table>
</div>